.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

p {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 32px;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

button {
  background-color: #b8a99a;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  border: 1px solid black;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #b8a99a;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.inhale {
  animation-name: inhaleAnimation;
}

.hold {
  animation-name: holdAnimation;
}

.exhale {
  animation-name: exhaleAnimation;
}

@keyframes inhaleAnimation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes holdAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.6);
  }
}

@keyframes exhaleAnimation {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
/*
*/
